.collectionContainer{
    display: flex;
}
.containerDetail{
    margin-left: 5px;
    margin-right: 5px;
}

// @media (min-width: 769px){
//     .containerDetail{
//         margin-left: 200px;
//         margin-right: 200px;
//     }}

