.carro{
    margin-top: 20px;
    margin-bottom: 40px;
    &-vaciar{
        
        padding: 4px;
        border-radius: 5px;
        color: aliceblue;
        background-color: #dc7633;
        margin: 8px;
    
        &:hover{
            background-color: #b9642b;
        }
    }
    
    &-total{
        color: #CC5500;
        font-weight: 600;
        font-size: 30px;
    }
}